@import './theme/_variables.scss';

$link-color: #666;

@import './lib/bootstrap-sass/assets/stylesheets/bootstrap';

@import './module/_header';
@import './module/_nav';
@import './module/_doc';

a:hover {
  text-decoration: underline;
}

a.active__link {
  color: $green;

  &:hover {
    text-decoration: none;
  }

}

.missing__container {
  background-color: #fff;
  border: 1px solid #eaeaee;
  padding: 50px 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.missing__title {
  margin-bottom: 20px;
}

body {
  background-color: #f6f8f8;
}

.btn-success, .btn-success:hover {
    color: #FFF;
}
