@import './theme/_variables.scss';

$link-color: #666;

@import './lib/bootstrap-sass/assets/stylesheets/bootstrap';

@import './module/_header';
@import './module/_nav';
@import './module/_doc';
@import './module/_404';

a:hover {
  text-decoration: underline;
}

a.active__link {
  color: $green;

  &:hover {
    text-decoration: none;
  }

}

body {
  background-color: #f6f8f8;
}

.btn-success, .btn-success:hover {
    color: #FFF;
}
