<div class="container">

  <div class="row">
    <h1 class="page__title">Chapters</h1>

    <a ui-sref="editor({docid: '{{chapCtrl.docid}}'})" class="btn btn-success pull-right page__btn">New Chapter</a>

    <table class="full-table">

      <thead>

        <tr class="table__header">

          <th class="table__first-row">Title</th>
          <th>Views</th>
          <th>Updated</th>
          <th>Pull request</th>
          <th class="table__padding--right">
            <div ng-if="chapCtrl.chapters.length > 1">
              <span>Sort chapters</span>
              <toggle toggle-model="chapCtrl.state.toggle" change="chapCtrl.toggleSort()"></toggle>
            </div>
          </th>

        </tr>

      </thead>

      <tbody as-sortable="chapCtrl.dragControlListeners" ng-model="chapCtrl.chapters">

        <tr class="table__row" ng-repeat="chapter in chapCtrl.chapters" as-sortable-item>

          <td class="table__first-row">
            <a ui-sref="edit-chapter({docid: '{{chapCtrl.docid}}', chapterid: '{{chapter._id}}'})">{{chapter.title}}</a>
          </td>

          <td>
            {{chapter.views}}
          </td>

          <td>
            {{chapter.created | date:'dd-MM-yyyy'}}
          </td>

          <td>
            <span ng-if="!chapter.pullrequest.set">none</span>
            <a ng-if="chapter.pullrequest.set" ui-sref="merge({docid: '{{chapCtrl.docid}}', chapterid: '{{chapter._id}}'})">waiting to merge</a>
          </td>

          <td class="table__padding--right table__last-row" >
            <span ng-if="!chapCtrl.state.toggle">delete</span>
            <span ng-if="chapCtrl.state.toggle" as-sortable-item-handle>sort</span>
          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>
