<div class="editor__header">

  <div class="editor__title-container">

    <input type="text" placeholder="Insert chapter title" class="editor__input input-md" ng-model="editorCtrl.chapter.title">

    <div class="pull-right editor__settings">
      <span class="btn btn-success pull-right editor__btn" ng-click="editorCtrl.action(editorCtrl.chapter)">{{editorCtrl.actionText()}}</span>
      <span class="editor__toggle-label">Live preview</span>
      <toggle toggle-model="editorCtrl.state.preview" change="editorCtrl.togglePreview()"></toggle>
    </div>

  </div>

</div>

<div class="editor__body" ng-class="editorCtrl.state.preview ? 'editor__preview-open' : 'editor__preview-closed'">

  <div ui-ace="{
    onLoad: editorCtrl.aceLoaded
  }"></div>

  <div class="editor__preview">
    <div class="editor__preview-header">
      <p>Preview</p>
    </div>

    <div class="editor__review-panel" ng-bind-html="editorCtrl.chapter.html | html"></div>

  </div>

</div>
