<div class="header__container" ng-controller="HeaderController as header">

  <div class="container">
    <div class="row">
      <img src="https://placeholdit.imgix.net/~text?txtsize=18&txt=170%C3%9775&w=170&h=75" alt="Placeholder image">

      <div class="pull-right header__profile">

        <img class="profile__image" src="{{header.user.img}}" alt="placeholder profile" width="50px">

        <div class="profile" uib-dropdown>

          <p class="profile__name" uib-dropdown-toggle>{{header.user.name}}<span class="caret profile__caret"></span></p>

          <ul uib-dropdown-menu role="menu" class="pull-right">

            <li role="menuitem"><a href="#" ng-click="header.test()">Settings</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#">Log out</a></li>
          </ul>

        </div>

      </div>

    </div>
  </div>

</div>
