<div class="editor__preview-header editor__preview-header--border">

  <div class="div">

    <div class="pull-right">
      <a href="#">back to chapter list</a>
      <a href="#" class="btn btn-success" ng-disabled="!versionCtrl.state.changes" ng-click="versionCtrl.updateChapter()">Revert changes</a>
    </div>

  </div>

  <p>Current version</p>

  <span>Updated: {{versionCtrl.data.chapter.updated | relativeDate}}</span>

  |

  <p>Version {{versionCtrl.data.version.versionNumber}}</p>

  <span>Updated: {{versionCtrl.data.version.created | relativeDate}}</span>

</div>

<ui-codemirror
    merge-view
    ui-codemirror-opts="versionCtrl.editorOptions"
    class="version__editor">
</ui-codemirror>
