<div class="container">

  <div class="row">
    <h1 class="page__title">Chapters</h1>

    <a ui-sref="editor({docid: '{{chapCtrl.docid}}'})" class="btn btn-success pull-right page__btn">New Chapter</a>

    <table class="full-table">

      <thead>

        <tr class="table__header">

          <th class="table__first-row">Title</th>
          <th>Views</th>
          <th>Updated</th>
          <th>Versions</th>
          <th>Pull request</th>
          <th class="table__padding--right">
            <div ng-if="chapCtrl.chapters.length > 1">
              <span>Sort chapters</span>
              <toggle toggle-model="chapCtrl.state.toggle" change="chapCtrl.toggleSort()"></toggle>
            </div>
          </th>

        </tr>

      </thead>

      <tbody as-sortable="chapCtrl.dragControlListeners" ng-model="chapCtrl.chapters" class="table__body">

        <tr class="table__row" ng-repeat="chapter in chapCtrl.chapters" as-sortable-item>

          <td class="table__first-row">
            <a ui-sref="edit-chapter({docid: '{{chapCtrl.docid}}', chapterid: '{{chapter._id}}'})">{{chapter.title}}</a>
          </td>

          <td>
            {{chapter.views}}
          </td>

          <td>
            {{chapter.updated | relativeDate}}
          </td>

          <td>

            <span ng-if="chapter.versions.length === 0">0</span>

            <div class="table-dropdown" uib-dropdown ng-if="chapter.versions.length > 0">
              <span uib-dropdown-toggle>{{chapter.versions.length}}</span>

              <ul uib-dropdown-menu role="menu">

                <li role="menuitem" ng-repeat="version in chapter.versions.slice().reverse()">

                  <a ui-sref="versions({docid: '{{chapCtrl.docid}}',
                  chapterid: '{{chapter._id}}',
                  versionid: '{{version._id}}'})">v.{{version.versionNumber}} <span class="pull-right version__date">{{version.created | relativeDate}}</span></a>
                </li>

              </ul>

            </div>

          </td>

          <td>
            <span ng-if="!chapter.pullrequest.set">none</span>
            <a ng-if="chapter.pullrequest.set" ui-sref="merge({docid: '{{chapCtrl.docid}}', chapterid: '{{chapter._id}}'})">waiting to merge</a>
          </td>

          <td class="table__padding--right table__last-row" >

            <div ng-if="!chapCtrl.state.toggle" class="table-dropdown" uib-dropdown>

              <span uib-dropdown-toggle>

                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 width="30px" height="15px" viewBox="0 0 30 15" enable-background="new 0 0 30 15" xml:space="preserve">
                <g>
                	<circle fill="none" stroke="#414042" stroke-miterlimit="10" cx="5.19" cy="10" r="2.891"/>
                	<circle fill="none" stroke="#414042" stroke-miterlimit="10" cx="15" cy="10" r="2.891"/>
                	<circle fill="none" stroke="#414042" stroke-miterlimit="10" cx="24.81" cy="10" r="2.891"/>
                </g>
                </svg>

              </span>

              <ul uib-dropdown-menu role="menu">

                <li role="menuitem">
                  <a href="#">Delete chapter</a>
                </li>

                <li role="menuitem">
                  <a ng-href="http://api.dochub.co:4000/docs/{{chapCtrl.docid}}/chapters/{{chapter._id}}/download?token={{chapCtrl.token}}" target="_blank">Download chapter</a>
                </li>

              </ul>

            </div>

            <!-- <span ng-if="!chapCtrl.state.toggle">delete</span> -->
            <span ng-if="chapCtrl.state.toggle" as-sortable-item-handle>sort</span>
          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>
