<div class="container">

  <div class="row">
    <h1 class="page__title">Documents</h1>

    <a href="#" class="btn btn-success pull-right page__btn" ng-click="docCtrl.newDocument()">New Document</a>

    <table class="full-table">

      <thead>

        <tr class="table__header">

          <th class="table__first-row">Title</th>
          <th>Published</th>
          <th>Updated</th>
          <th>Chapters</th>
          <th class="table__padding--right">

            <div class="sort-container pull-right" uib-dropdown>

              <span class="sort-btn" uib-dropdown-toggle>
                {{docCtrl.sortDisplay}} <span class="caret"></span>
              </span>

              <ul uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a href="#" ng-click="docCtrl.setSort('title', 'Title')">Title</a>
                </li>
                <li role="menuitem">
                  <a href="#" ng-click="docCtrl.setSort('status', 'Status')">Status</a>
                </li>
                <li role="menuitem">
                  <a href="#" ng-click="docCtrl.setSort('-updated', 'Updated')">Updated</a>
                </li>
              </ul>

            </div>

          </th>

        </tr>

      </thead>

      <tbody class="table__body" ng-if="docCtrl.docs.length > 0">

        <tr class="table__row" ng-repeat="doc in docCtrl.docs | orderBy: docCtrl.sort">
          <td class="table__first-row">
            <a ui-sref="chapters({docid: '{{doc._id}}'})">{{doc.title}}</a>
          </td>
          <td>
            <toggle toggle-model="doc.published" change="docCtrl.publish(doc)"></toggle>
          </td>
          <td>{{doc.updated | relativeDate}}</td>
          <td>{{doc.chapters.length}}</td>
          <td class="table__padding--right table__last-row" >
            <div class="table-dropdown" uib-dropdown>
              <span uib-dropdown-toggle>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 width="30px" height="15px" viewBox="0 0 30 15" enable-background="new 0 0 30 15" xml:space="preserve">
                <g>
                	<circle fill="none" stroke="#414042" stroke-miterlimit="10" cx="5.19" cy="10" r="2.891"/>
                	<circle fill="none" stroke="#414042" stroke-miterlimit="10" cx="15" cy="10" r="2.891"/>
                	<circle fill="none" stroke="#414042" stroke-miterlimit="10" cx="24.81" cy="10" r="2.891"/>
                </g>
                </svg>

              </span>

              <ul uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a href="#" ng-click="docCtrl.editDocument(doc._id)">Edit document</a>
                </li>
                <li role="menuitem">
                  <a href="#" ng-click="docCtrl.deleteDocument(doc._id)">Delete document</a>
                </li>
              </ul>

            </div>

          </td>

        </tr>

      </tbody>

    </table>

    <div ng-if="docCtrl.docs.length === 0" class="empty-state">

      <img src="images/empty-document.png">

      <h4 class="empty-state__title">Looks like you dont have any documents yet</h4>

      <a ng-click="docCtrl.newDocument()" class="btn btn-success">Create Document</a>

    </div>

  </div>

</div>
