<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" ng-click="modalCtrl.close()">&times;</button>
    <h4 class="modal-title">{{modalCtrl.title}}</h4>
  </div>

  <div class="modal-body">

    <dochub-alert></dochub-alert>

    <form name="docForm" ng-submit="modalCtrl.submit(modalCtrl.document)" novalidate>

        <!-- Text input-->
        <div class="form-group">

          <input name="title" type="text" placeholder="Title" class="form-control input-md" ng-model="modalCtrl.document.title" required>

          <div ng-messages="docForm.title.$error" ng-if="docForm.title.$touched" class="login__error">
            <span ng-message="required">A title is required</span>
          </div>

        </div>

        <!-- Text input-->
        <div class="form-group">
          <input name="desc" type="text" placeholder="Description (optional)" class="form-control input-md" ng-model="modalCtrl.document.desc">
        </div>

        <div class="form-group">
            <button id="submit" name="submit" class="btn btn-success btn-block" ng-disabled="docForm.$invalid">{{modalCtrl.title}}</button>
        </div>

    </form>

  </div>

</div>
