<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{chapter.title}}</title>

  <link rel="stylesheet" href="//dochub.co:4000/css/docs.css">

</head>
<body>

  <div class="header__container">

    <div class="container">
      <div class="row">

        <img src="https://app.dochub.co/images/logo.svg" alt="Dochub logo" width="130px;" class="header__logo">

        <div class="nav__login pull-right">

          <a href="https://app.dochub.co/#/login" class="btn btn__login">Login</a>
          <a href="https://app.dochub.co/#/register" class="btn btn__login">Register</a>

        </div>

    </div>
  </div>

  </div>

  <div class="container container__push">
    <div class="row">

      <div class="missing__container clearfix">

        <img src="https://app.dochub.co/images/empty-document.svg" alt="Document not found" width="100px">

        <h3 class="missing__title">Opps document not found</h3>

        <a href="https://dochub.co" class="btn btn-success">Back to the homepage</a>
      </div>

    </div>
  </div>

</body>
</html>
