<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
</head>
<body>
  <h1>App file</h1>

  <script>
  (function(API_TOKEN) {
    localStorage.setItem('API_TOKEN', API_TOKEN);
  })('{{token}}');
  </script>

</body>
</html>
