<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Reset password</title>
</head>
<body>
  
  <h1>reset password</h1>

  <form method="POST">

    <input type="email" name="email" value="" placeholder="Enter email"/>

    <button type="submit">Reset password</button>

  </form>

</body>
</html>
