// colors
$midnight-blue: #2d3037;
$main-bg: #f6f8f8;

$white: #ffffff;
$table-header: #f5f5f5;
$table-border: #eaeaee;
$table-body: $white;

$green: #00a651;
$btn-success-color: $green;
$link-color: $green;

$toggle-grey: #ddd;

$editor-height: calc(100vh - 200px);

$red: #c0392b;
